
body, html {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100%;
}
.logo {
    width: 200px;
    height: auto;
}
.colored
{
    background-color: #ffc107;
}
.title-image {
    width: 60%;
    height: auto;
}
.container-fluid {
    padding: 1% 5%;
}
.boxes {
    margin: 30px auto;
}
#second {
    background-image: url(images/Tree_House.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}